body {
  background-color: rgb(3, 59, 61);
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('https://fonts.googleapis.com/css?family=Montserrat');
}

.header {
  color:rgb(0, 229, 255);
  font-family: 'Montserrat-Bold';
  font-size: 4em;
  text-align: center;
  -webkit-text-stroke: 0.1rem;
  -webkit-text-stroke-color: #F64FFF;
  text-shadow: 0rem 0.25rem 0.4rem #F64FFF;
}

.footer {
  color:rgb(0, 229, 255);
  font-family: 'Montserrat-Bold';
  font-size: 3rem;
  text-align: center;
  -webkit-text-stroke: 0.1rem;
  -webkit-text-stroke-color: #F64FFF;
  text-shadow: 0rem 0.25rem 0.4rem #F64FFF;
  a {
    text-decoration: none;
  }
}